$bg-content: #353835;
body{
    background-color: #235668 !important;
    .chapitre{
        width:90%;
        margin:40px auto;
        background-color: antiquewhite;
        border-radius: 2pc;
        .content{
            background-color: $bg-content;
            margin:20px;
            color:white;
            text-align: center;
            padding:20px;
        }
        h2{
            padding-top:20px;
            color:#98a1c6;
            font-size: 40px;
            text-align: center;
        }
        h3{
            text-align: center;
        }
        .boxExe{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }
    .padding{
        padding:10px;
    }
    .lcd{
        text-align: right;
    }
    .link{
        color:white;
        text-decoration: none;
    }
    .link:hover{
        color:#a1c2b6 !important;
    }
    .link:active{
        color:#96a156 !important;
    }
    .space-top{
        display:block;
        margin-top:10px !important;
    }
    thead th,tbody td{
        border: 1px solid white;
        padding:5px;
    }
    thead th{
        background-color:white;
        color:black;
    }
    caption{
        color:black;
        background-color:white;
        padding:5px;
        caption-side: top;
        box-shadow: 0px 0px 6px 0px grey inset;
        text-align: center;
    }
    .calendar{
        margin-top:20px;
    }
    .bonus{
        a{
            text-decoration:none;
            background-color:white;
            padding:10px;
            &:hover{
                color:red;
            }
        }
        .page{
            background-color:#525552;
            color:white;
        }
        .active{
            background-color:grey !important;
            color:red;
        }
        .animal-content{
            .img-animal{
                width:60%;
            }
            p{
                padding-top:30px;
            }
        }
    }
    .control {
        h4 {
            font-size:3vw;
        }
        p{
            font-size:1.6vw;
        }
    }
}